{% extends 'main/basegenerictwo.html' %}
{% block title %}
<title>Password | Reset</title>
{% endblock %}
{% load static %}
{% load materializecss %}

{% block sidebar %}
<div class="card">
    <div class="card-content">
<h5>{{ user }}</h5>
</div>
</div>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-content">
    {% if validlink %}
        <h5>Change Password</h5>
        <form method="POST">
            {% csrf_token %}
            {{ form | materializecss:'m6'}}
            <button type="submit" class="btn">Change Password</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
</div>
</div>
{% endblock %}